@font-face {
    font-family: Hunters;
    src: url("Hunters.otf") format("opentype");
}

html {
    background-color: #EFF3F7;
}
#sidebar {
    min-height: 100vh;
}
#content_top {
    padding-top: 0;
    padding-right: 35px;
    height: 80px;
    margin-right: 0 !important;
    position: relative;
}
#content_top::after {
    content: '';
    width: calc(100% - 15px);
    position: absolute;
    left: 15px;
    bottom: -22px;
    height: 1px;
    background-color: white;
}
#content_top h1 {
    font-size: 5em;
    /* font-weight: bold; */
    font-family: 'Hunters';
    /* color: #D8C0BF; */
    color: #20364B;
    text-align: right !important;
    width: 100%;
    position: relative;
    line-height: 80px;
    vertical-align: middle;
}
#content_top h1 .slogan {
    font-size: 10px;
    /* color: rgba(216,192,191,.5); */
    color: #D33E43; /* #D33E43 */
    font-family: 'Arial';
    text-align: right !important;
    position: absolute;
    bottom: -40px;
    right: 0;
}
#sidebar {
    /* background-color: #F9E9E5; */
    background-color: #20364B;
    padding: 0 !important;
    width: 50px !important;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
}
#sidebar_top {
    /* background-color: #D8C0BF; */
    background-color: #8DA9C4;
}
.sidebar_item {
    width: 100%;
    padding-top: 100%;
    border-bottom: 1px solid white;
    position: relative;
    display: block;
    cursor: pointer;
}
.sidebar_item:first-child {
    /* margin-top: 80px; */
    border-top: 1px solid white;
}
.sidebar_item:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: none !important;
    border-top: 1px solid white;
}
.sidebar_item i, #sidebar_top i {
    position: absolute;
    top: 50%;
    left: 50%;
    /* color: white; */
    color: #8DA9C4;
    /* color: #B2AA8E; */
    font-size: 20px;
    transform: translate(-50%, -50%);
}
#sidebar_top i {
    font-size: 30px;
    font-weight: bold;
    color: #20364B;
}
.sidebar_item.active i {
    /* color: #D8C0BF; */
    color: white;
}
#sidebar_title {
    font-size: 25px;
    font-weight: bold;
    font-family: "Didot";
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#sidebar_item {
    font-size: 15px;
    font-family: "Arial";
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#content {
    /* background-color: #FDF7F6; */
    background-color: #EFF3F7;
    width: calc(100vw - 50px) !important;
    padding-right: 0;
    margin-left: 50px;
}
#content_body {
    margin-top: 50px;
}
.content_body {
    margin-top: 50px;
    position: relative;
}
.section_content {
    position: absolute;
    top: 0;
    width: 100%;
    /* min-height: calc(100vh - 100px); */
}

.hidden {
    display: none;
    /* visibility: hidden; */
}

.legend {
    border: 2px solid red;
}

#content_home .section_button {
    text-align: center;
    /* padding-top: 100%; */
}

.section_button h3 {
    text-transform: uppercase;
    font-size: 15px;
}
.section_icon_large {
    width: 100%;
    padding-top: 70%;
    position: relative;
    border: 3px solid #1f364b;
    background-color: white;
    cursor: pointer;
}

.section_icon_large:hover i {
    color: #d43e43;
}

.section_icon_large i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    color: #1f364b;
}

#categoryBestPrice1, #categoryBestPrice2, #categoryNonZeroPrice {
    display: inline-block;
    /* margin-left: -25px; */
}
.pigletImage {
    max-height: 70vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#categoryInfo {
    margin-bottom: 25px;
}

.infoBox {
    padding: 8px 15px;
    border: 1px solid #cccccc;
    width: 100%;
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 3px;
}

.infoBoxTitle {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.right {
    text-align: right;
}

.selectize-input{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.selectize-input input {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    width: 100% !important;
}

.center {
    text-align: center;
}

#companyAppIcon, .appIconGridItem {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
#companyAppIcon {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 10px;
    top: 0px;
}
#companyAppSelectionRow {
    margin-top: 0px;
    position: relative;
}

.innerCol {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.divider {
    width: calc(100% - 15px);
    margin-left: 15px;
    height: 1px;
    border-bottom: 2px solid white;
    margin-top: 25px;
    margin-bottom: 25px;
}

#revenueModelComparisonPlots {
    width: 100% !important;
}

h1 {
    text-align: center;
    font-size: 15px;
}

.fa-check {
    color: green;
}
.fa-times {
    color: red;
}
.fa-question-circle {
    display: inline-block;
    color: rgba(0,0,0,0.5);
    font-size: 12px;
}
.fa-frown {
    font-size: 60px;
    font-weight: bold;
    color: rgba(0,0,0,0.15);
    border: 5px solid;
    border-radius: 15px;
    padding: 15px;
}

#categoryApplicationGrid, #categoryApplicationGridSecondary {
    margin-top: 25px;
    margin-bottom: 25px;
}

#rankingTableCol {
    min-height: calc(100px + 100px + 50px + 50px + 50px);
    border-left: 3px solid white;
}
